streamlit
numpy
pandas
tensorflow
keras
joblib
boto3  # For accessing S3
scikit-learn  # If you're using preprocessing or anomaly detection
matplotlib  # If you're plotting anything
seaborn  # Optional for better plots
